#header__main {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 1px #000;
  text-align: center; }
  #header__main .search-input {
    display: flex;
    justify-content: center; }
    #header__main .search-input input[type=text] {
      padding: .5rem 1rem;
      width: 70%; }
    #header__main .search-input i[class*=-search] {
      color: #000;
      border: 1px solid black;
      border-left: none;
      padding: .5rem;
      margin-left: 0; }
      #header__main .search-input i[class*=-search]:hover {
        color: #333; }
  #header__main .medya-icon-box {
    text-align: right;
    padding-right: 1rem;
    font-size: 1.1rem;
    letter-spacing: 3px; }
    #header__main .medya-icon-box a {
      text-decoration: none; }
      #header__main .medya-icon-box a i:hover {
        transform: scale(1.1); }
    #header__main .medya-icon-box a[class=instagram] {
      color: red; }
    #header__main .medya-icon-box a[class=youtube] {
      color: red; }
    #header__main .medya-icon-box a[class=twitter] {
      color: #05b3b3; }
    #header__main .medya-icon-box a[class=github] {
      color: #333; }

#navbar_main {
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 10px 10px 1px #000;
  z-index: 9999; }
  #navbar_main #nav-links {
    display: flex;
    gap: 2rem; }
    #navbar_main #nav-links .nav-link {
      color: #3d191c;
      font-size: .9rem;
      text-decoration: none;
      box-shadow: 0 0 3px 1px #000;
      padding: .3rem 2rem; }

#footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  background-color: #aaa;
  width: 100%; }
  #footer .linkler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #footer .linkler .div-body {
      display: flex;
      gap: 10px; }
      #footer .linkler .div-body .footer_link {
        padding: .3rem;
        border-radius: 3px;
        position: relative;
        transition: all 1s;
        z-index: 3;
        display: flex;
        gap: 10px;
        color: #fff; }
        #footer .linkler .div-body .footer_link::before {
          content: "";
          background-color: #fafafa;
          position: absolute;
          width: 0%;
          padding: 1rem;
          bottom: 0;
          left: 0%;
          z-index: -1;
          transition: all .3s;
          padding: .3px; }
        #footer .linkler .div-body .footer_link:hover::before {
          width: 100%; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

main {
  min-height: 100vh; }

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white; }

.leftcolumn {
  float: left;
  width: 75%; }
  .leftcolumn .post-col3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    height: 500px;
    grid-template-rows: 1fr 1fr; }
    .leftcolumn .post-col3 .post {
      background-color: white;
      color: #fff;
      padding: 20px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 3; }
      .leftcolumn .post-col3 .post .post_title {
        text-align: center;
        width: 100%;
        padding: .5rem;
        font-size: 1rem; }
      .leftcolumn .post-col3 .post .post_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; }
      .leftcolumn .post-col3 .post .post_description {
        position: absolute;
        left: 0;
        bottom: 0px;
        background: rgba(94, 94, 94, 0.5);
        width: 100%;
        color: #fff;
        text-transform: capitalize; }
    .leftcolumn .post-col3 .post_row_2 {
      height: 100%;
      width: 100%;
      display: flex; }

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px; }
  .rightcolumn .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
    .rightcolumn .card .card_title {
      text-align: center;
      width: 100%;
      padding: .5rem;
      background-color: #aaa;
      color: #fff;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px; }
    .rightcolumn .card .links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      border: 1px solid #aaa;
      padding: 1rem 0;
      gap: 10px; }
      .rightcolumn .card .links .link {
        width: 100%;
        padding: .5rem .2rem;
        background-color: #aaa;
        color: #fafafa;
        text-decoration: none;
        text-transform: capitalize; }
        .rightcolumn .card .links .link:hover {
          background-color: #777777; }

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px; }
